@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  color-scheme: dark light; 
  scroll-behavior: smooth;
}

:root {
  /* Your custom properties */
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font: inherit; /* Resets font sizes and font weights */
  font-size: 100%;
  line-height: 1.5;
}

/* For debugging purpose in case of an overflow or something like that 

  * {
    background-color: hsla(150, 100%, 50%, 0.2)
  } 

*/

a {
  text-decoration: none;
  color: inherit;
}

img, 
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  object-fit: cover /* Fixes the problem of stretching for images with fixed dimensions */
}

body {
  min-height: 100dvh, 100vh;
  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ************************************** UTILITY CLASSES ********************************************* */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.center-items {
  align-items: center;
  justify-content: center;
}

.center-position {
  inset: 0;
  margin: auto;
}

.static {
  position: static;
}

.relative {
  position: relative
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.inset0 {
  inset: 0;
}

.sr-only {  /* For screen readers only utility class */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
